<?php
include('header.php');
?>
<div class="navPadding"></div>
<!DOCTYPE html>
<html>
<head>
  <title>Geef Cijfer Formulier</title>
    <link rel="stylesheet" type="text/css" href="/templates/css/addGradeInfo.css">
</head>
<body>
<h1>Hier kan je een cijfer voor een student invoeren.</h1>
<h1>Kies eerst het vak waar je een cijfer in wilt voeren.</h1>
<h1>Hierna kun je uit de studentenlijst een student kiezen en het cijfer invullen.</h1>
<form method="POST" action="findTentamenForm">
  <input type="submit" value="Ga verder">
</form>
</body>
</html>