<?php
include('header.php');
?>
<div class="navPadding"></div>
<!DOCTYPE html>
<html>
<head>
  <title>Find Tentamen Form</title>
  <link rel="stylesheet" type="text/css" href="/templates/css/findTentamenForm.css">
</head>
<body>
<form method="GET">
  <h1>Kies Tentamen</h1>
  <label for="Tentamen">Tentamen:</label>
  <select name="Tentamen" id="Tentamen" required>
    <?php foreach($tentamens as $id => $name): ?>
    <option value="<?php echo $id; ?>"><?php echo $name; ?></option>
    <?php endforeach; ?>
  </select>
  <input type="submit" value="Next">
</form>
</body>
</html>
