<?php
include('header.php');
?>
<div class="navPadding"></div>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Registration Form</title>
  <link rel="stylesheet" type="text/css" href="/templates/css/registration.css">
</head>
<body>

<h1>Registration Form</h1>

<form action="/registration" method="post">


  <label for="name">Name:</label>
  <input type="text" name="name" id="name" required><br>

  <label for="email">Email:</label>
  <input type="email" name="email" id="email" required><br>


  <label for="role">Role:</label>
  <select name="role" id="role" required>
    <?php foreach ($roles as $role): ?>
    <option value="<?php echo $role; ?>"><?php echo $role; ?></option>
    <?php endforeach; ?>
  </select><br>


  <label for="password">Password:</label>
  <input type="password" name="password" id="password" required><br>

  <label for="confirm_password">Confirm Password:</label>
  <input type="password" name="confirm_password" id="confirm_password" required><br>

  <input type="submit" value="Register">
</form>
</body>
</html>
