<?php
include('header.php');
ob_start();
?>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Student Register for Exam</title>
  <link rel="stylesheet" type="text/css" href="./templates/css/registerExam.css">
</head>
<body>

<div class="container">
  <h2>Student Register for Exam</h2>
  <form action="#" method="post">
    <label for="tentamen">Select Exam:</label>
    <select id="tentamen" name="tentamen">
      <?php foreach($showTentamen as $tenaam): ?>
      <option value="<?php echo $tenaam; ?>"><?php echo $tenaam; ?></option>
      <?php endforeach; ?>
    </select><br><br>

    <input type="submit" value="Register">
  </form>
</div>
</body>
</html>
