<?php
include('header.php');
ob_start();
?>
<!DOCTYPE html>
<html>
<head>
  <title>Student Tentamen Scores</title>
  <link rel="stylesheet" type="text/css" href="./templates/css/showStudentData.css">
</head>
<body>
<h1>Student Tentamen Resultaten</h1>
<table>
  <thead>
  <tr>
    <th>Vak naam Name</th>
    <th>Tentamen Cijfer</th>
  </tr>
  </thead>
  <tbody>
  <?php foreach ($studentTentamen as $tentamen): ?>
  <tr>
    <td><?php echo $tentamen[0]; ?></td>
    <td><?php echo $tentamen[1]; ?></td>
  </tr>
  <?php endforeach; ?>
  </tbody>
</table>
</body>
</html>
